{{ partial "header.html" . }}
    <div class="full hero">
      <div>
        <h1>{{ .Site.Params.slogan }}</h1>
        <p>{{ .Site.Params.sub_slogan | safeHTML  }}</p>
      </div>
    </div>
    <main>
      <p class="lead">{{ .Site.Params.lead_paragraph | safeHTML }}</p>
      <div class="center pure-menu pure-menu-horizontal hide-small">
          <ul class="pure-menu-list">
              <li class="pure-menu-item"><a href="#services" class="pure-menu-link">Services</a></li>
              <li class="pure-menu-item"><a href="#testimonials" class="pure-menu-link">Testimonials</a></li>
              <li class="pure-menu-item"><a href="#leadership" class="pure-menu-link">Leadership</a></li>
          </ul>
      </div>
      <h2 id="services" class="center">Services</h2>
      <div class="serviceGrid">
        {{ range sort .Site.Data.services "weight" }}
        <div class="graphic">
          <span class="icon">{{ .icon }}</span>
        </div>
        <div class="content">
          <h3>{{ .title }}</h3>
          <p>{{ .description | markdownify }}</p>
        </div>
        {{ end }}
      </div>

<!--      <h2 id="testimonials" class="center">Testimonials</h2>
      <div class="opp-serviceGrid">
        {{ range sort .Site.Data.testimonials "weight" }}
          <div class="content">
            <h3>{{ .client }}</h3>
            <p><span class="pull">“</span>{{ .description | markdownify }}</p>
            <i>{{ .person }}</i>
          </div>
          <div class="graphic">
            <div class="image-cropper">
              <img src="http://{{ .image }}"/> 
            </div>
          </div>
        {{ end }}
      </div>-->

      <h2 id="leadership" class="center">Leadership Team</h2>
      <div class="serviceGrid">
        {{ range sort .Site.Data.team "weight" }}
          <div class="graphic">
            <div class="image-cropper">
              <img src="http://{{ .image }}"/>
            </div>
          </div>
          <div class="content">
            <h3>{{ .person }}</h3>
            <p>{{ .description | markdownify }}</p>
          </div>
        {{ end }}
      </div>
    </main>
{{ partial "footer.html" . }}
