<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ block "title" . }}{{ .Site.Title }} {{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
    <link rel="stylesheet" href="main.css">

    <!-- Theme Color for Chrome, Firefox OS and Opera -->
    <!--<meta name="theme-color" content="#4285f4">-->
    <meta name="theme-color" content="{{ .Site.Params.theme_color }}">

    <!-- Short description of the document (limit to 150 characters) -->
    <!-- This content *may* be used as a part of search engine results. -->
    <meta name="description" content="{{ .Site.Params.description }}">
  </head>
  <body>
    <header>
      <h1>Logo Here</h1>
      <div class="contact">
        <div>
          <a href="tel:+6161111111">📞 616-111-1111</a>
        </div>
      </div>
    </header>
    <div class="hero">
			<div>
				<h1>{{ .Site.Params.slogan }}</h1>
				<p>Security, compliance, cost reductions. <br/>We're here to help. </p>
			</div>
    </div>
    <main>
      <p class="lead">{{ .Site.Params.lead_paragraph }}</p>
      <h2 class="center">Services</h2>
      <div class="serviceGrid">
        {{ range sort .Site.Data.services "weight" }}
        <div class="graphic">
          <span class="icon">{{ .icon }}</span>
        </div>
        <div class="content">
          <h3>{{ .title }}</h3>
          <p>{{ .description | markdownify }}</p>
        </div>
        {{ end }}
      </div>

      <h2 class="center">Testimonials</h2>
			<div class="opp-serviceGrid">
        {{ range sort .Site.Data.testimonials "weight" }}
          <div class="content">
            <h3>{{ .client }}</h3>
            <p><span class="pull">“</span>{{ .description | markdownify }}</p>
            <i>{{ .person }}</i>
          </div>
          <div class="graphic">
            <div class="image-cropper">
              <img src="http://{{ .image }}"/> 
            </div>
          </div>
        {{ end }}
			</div>

      <h2 class="center">Team</h2>
			<div class="serviceGrid">
        {{ range sort .Site.Data.team "weight" }}
          <div class="graphic">
            <div class="image-cropper">
              <img src="http://{{ .image }}"/>
            </div>
          </div>
          <div class="content">
            <h3>{{ .person }}</h3>
            <p>{{ .description | markdownify }}</p>
          </div>
        {{ end }}
			</div>
      <h2 class="center">Contact</h2>
    </main>
    <footer>
      <p>Footer</p>
    </footer>
  </body>
</html>
