{{ partial "header.html" . }}
<article>
  <div>
    <h1 class="post-title">{{ .Title }}</h1>
    <span>
      {{- if or .Params.author .Site.Params.author -}}
      Published by: {{ .Params.author | default .Site.Params.author }} on {{ end }}
      {{- if .Params.date -}}
      {{- .Date.Format "January 2, 2006" -}}
      {{ end }}
    </span>
  </div>
  <div class="content">{{ .Content }}</div>
  <div>
    {{ if .Params.tags }}
    <ul>
      {{ range .Params.tags }}
      <li><a href="{{ `/tags/` }}{{ . | urlize }}/">{{ . }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
</article>
{{ partial "footer.html" . }}
